.so-widget-sow-connect-default-d75171398898 .footer_link .fas {
  color: #f1b33c;
  font-size: 10px;
}
.so-widget-sow-connect-default-d75171398898 .footer_link ul li a {
  font-size: 12px !important;
  color: #929292;
  font-family: "Open Sans", sans-serif;
}
.so-widget-sow-connect-default-d75171398898 li.link-icon:hover {
  color: #FFC107;
}