.so-widget-sow-team-work-default-fae6ee7f9727 .sow-headline-container {
  margin: 35px;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .sow-headline-container h1.sow-headline {
  text-align: center;
  
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-team-work-default-fae6ee7f9727 .sow-headline-container h3.sow-sub-headline {
  text-align: center;
  
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-team-work-default-fae6ee7f9727 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px solid #eeeeee;
  width: 100%;
  max-width: 80%;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team-work-img {
  width: 330px;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .title_tag {
  text-align: center;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list {
  zoom: 1;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list:before {
  content: '';
  display: block;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature {
  position: relative;
  float: left;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 25px;
  display: flex;
  margin-bottom: 40px;
}
@media (min-width: 520px) {
  .so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature:nth-of-type(3n + 1) {
    padding-left: 0;
    clear: left;
  }
  .so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature:nth-of-type(3n) {
    padding-right: 0;
  }
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature.sow-icon-container-position-top {
  flex-direction: column;
  text-align: center;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature.sow-icon-container-position-top .sow-icon-container {
  margin-bottom: 10px;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature.sow-icon-container-position-right {
  text-align: left;
  flex-direction: row;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature.sow-icon-container-position-right .sow-icon-container {
  margin-right: 10px;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature.sow-icon-container-position-left {
  text-align: left;
  flex-direction: row-reverse;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature.sow-icon-container-position-left .sow-icon-container {
  margin-left: 10px;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature.sow-icon-container-position-bottom {
  text-align: center;
  flex-direction: column-reverse;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature .sow-icon-container {
  width: 84px;
  height: 84px;
  font-size: 84px;
  text-decoration: none;
  margin: auto;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature .sow-icon-container [class^="sow-icon-"],
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature .sow-icon-container .sow-icon-image {
  text-decoration: none;
  color: #FFFFFF;
  width: 84px;
  height: 84px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature .sow-icon-container .team_card .overlay .team_icon_twitter .sow-icon-ionicons {
  position: absolute;
  bottom: 0;
  margin-left: 225px;
  margin-bottom: 0px;
  font-size: 30px;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature .sow-icon-container .team_card .overlay:hover .team_icon_twitter:hover {
  color: #327be9;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature h1 {
  margin: 1em 0;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature h1 a {
  color: inherit;
  text-decoration: none;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature h1 a:hover {
  text-decoration: underline;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature p.sow-more-text a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature p.sow-more-text a:hover {
  text-decoration: underline;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature p:last-child {
  margin-bottom: 0;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature.sow-features-feature-last-row {
  margin-bottom: 0;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-feature .textwidget {
  margin: auto;
  
  
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .sow-features-clear {
  clear: both;
}
@media (max-width: 520px) {
  .so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list.sow-features-responsive {
    margin: 0;
  }
  .so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list.sow-features-responsive .sow-features-feature {
    width: 100% !important;
    float: none;
    margin-bottom: 40px;
    display: block;
  }
  .so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list.sow-features-responsive .sow-features-feature:last-child {
    margin-bottom: 0px;
  }
  .so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list.sow-features-responsive .sow-features-clear {
    clear: none;
  }
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team_block .sow-features-list .team-work-img {
  width: 300px;
  height: 180px;
}
.so-widget-sow-team-work-default-fae6ee7f9727 .team-work-img {
  width: 3300px;
  padding: 22px;
}