.so-widget-sow-link-default-358907b4c8c2 .link .top-title {
  color: #eeee22;
  font-family: 'dashicons';
  text-align: right;
}
.so-widget-sow-link-default-358907b4c8c2 .col-6.space-around a {
  font-size: 12px;
  color: #929292;
  font-family: "Open Sans", sans-serif;
}