.so-widget-sow-about-default-d75171398898 .jumbotron.jumbo {
  padding: 21px;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .so-widget-sow-about-default-d75171398898 .jumbo h6 {
    font-size: 16px;
  }
  .so-widget-sow-about-default-d75171398898 .space-around {
    margin-right: -70px;
  }
}
.so-widget-sow-about-default-d75171398898 .jumbotron.jumbo {
  padding: 21px;
  margin-bottom: 0;
}